body { background: #1c16c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 22px; display: flex; }
.block-invoice-0 { color: #5c376e; font-size: 12px; margin-bottom: 5px; }
.block-notify-1 { color: #210a75; font-size: 16px; margin-bottom: 5px; }
.block-email-2 { color: #cb13ae; font-size: 18px; margin-bottom: 5px; }
.block-metrics-3 { color: #8f4426; font-size: 16px; margin-bottom: 5px; }
.block-database-4 { color: #e9f2b2; font-size: 14px; margin-bottom: 5px; }
.block-logger-5 { color: #82ec53; font-size: 21px; margin-bottom: 5px; }
.block-shipping-6 { color: #326812; font-size: 21px; margin-bottom: 5px; }